/* .container{
    padding-left: 0px;
} */
.mat-dialog-container {
    margin-right: -360px !important;
    margin-left: 153px;
}

.cross {
    padding-left: 75px;
    padding-top:10px
}

.cross-main {
    padding-left: 235px;
}